<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xl.projectno">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.MposApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".activity.AEInventory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.EditInventory"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.ThemeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service android:name=".activity.CountService">
    </service>
        <service android:name=".activity.KeepLiveService">
        </service>
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.xl.projectno.data" />
    </application>

</manifest>